<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Peregrine Consultant (Australia): Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--     <meta http-equiv="Cache-Control" content="public, max-age=3600" /> -->
    <meta http-equiv="Content-Language" content="en-us" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='pro_dropdown_2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='w3c.css')}}" />
    <style type="text/css">
        div#unit-signature-links a { color: white }
    </style>
    <script type="text/javascript">
        var tabs = ['home', 'services', 'why', 'contact'];
        function activate(id) {
            for (i in tabs) {
                var e = document.getElementById(tabs[i]);
                var t = document.getElementById(tabs[i] + "_tab");
                if (tabs[i] == id) {
                    e.style.display = 'block';
                    t.style.backgroundColor = '#99998f';
                } else {
                    if (e != null) e.style.display = 'none';
                    if (t != null) t.style.backgroundColor = '';
                }
            }
        }
        activate("home");
    </script>
</head>

<body>

<div id="logo">
	<a id="insignia-link" href="http://..."><img src="static/logo.jpg" height="75" border="0" /></a>
</div>

<div id = "header">
    <!-- 
<div id="head-img">
        <img style="vertical-align: left" src="static/banner.jpg" border="0" height = "150" width = "200"/>
    </div>
 -->
    <div id="identity">
        <h1>
            PEREGRINE CONSULTANT (AUSTRALIA) PTY LTD<br />
        </h1>
        <h2><small>Build the World Together</small></h2>
    </div>
    <div id = "navigation">
        <ul id="nav">
            <li class="top" id="home_tab"><a class="top_link" onclick='activate("home")'>Home</a></li>
            <li class="top" id="services_tab"><a class="top_link" onclick='activate("services")'>Services</a></li>
            <li class="top" id="why_tab"><a class="top_link" onclick='activate("why")'>Why PEREGRINE?</a></li>
            <li class="top" id="contact_tab"><a onclick='activate("contact")' class="top_link">Contact</a></li>
        </ul>
    </div>
</div>
<br>

<div id="page">
<div id = "wrap">
    <div class=tab id="home">
        <h1>Welcome</h1>
        <p>Peregrine Consultant is a business that finds its foundation on the recognition of the need for expedient service and open, reliable access to staff. </p>
        <p>These ideas centre on the provision of a holistic and personal service to our clients, which in turn, relates back to their individual clients.</p>
        <p>But it's our ethos that sets us apart from others, and when you need to speak to someone, we will be there!</p>
        <img src="static/blue-sky.jpg" style="width:100%">
    </div>
    
    <div class=tab id="why" style="display: none">
        <div id="why-text">
            <h1>Why Choose Peregrine?</h1>
            <ul>
                <li>Discounted pricing</li>
                <li>Personal service</li>
                <li>Direct access to all staff</li>
                <li>Easy to understand billing</li>
                <li>Full range of online products</li>
                <li>Online settlement and manual service bookings</li>
                <li>Daily collection service in most Sydney areas</li>
            </ul>
        </div>
        <div id="img-gallery" class="w3-content w3-display-container">
            <img class="mySlides" src="static/image2.jpg" style="width:100%">
            <img class="mySlides" src="static/image3.jpg" style="width:100%">
            <img class="mySlides" src="static/image4.jpg" style="width:100%">
            <img class="mySlides" src="static/image5.jpg" style="width:100%">
            <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
            <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
        </div>
    </div>
    
    <script type="text/javascript">
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            x[slideIndex-1].style.display = "block";  
        }
    </script>
    
    <div class=tab id="contact" style="display: none">
        <h1>Contact PEREGRINE</h1>
        <ul>
            <li>Address:
                <ul>
                    <li>        Suite 801-803, Level 8 </li>
                    <li>        265 Castlereagh St. </li>
                    <li>        Sydney Nsw 2000 Australia </li>
                    <li>        DX 11540 Sydney Downtown </li>
                </ul>
            </li>
            <li>Tel: 
                <ul>
                    <li>        (61-2) 92670477 </li>
                </ul>
            </li>
            <li>Mobile:
                <ul>
                    <li>        (61) 0412871018 </li>
                </ul>
            </li>
            <li> Fax:
                <ul>
                    <li>        (61-2) 92670847 </li>
                </ul>
            </li>
        </ul>

        <img src="static/contact2.jpg" style="width:100% float: right">
    </div>
</div>
    <div class=tab id="services" style="display: none">
        <h1>Services</h1>
        <div id="service-img" style="width:50%; float:left">
            <img src="static/services.png" style="width:100%">
        </div>
        <div id="service-content">
<!--             <h1>Services</h1> -->
            <ul>
                <li>Online Services
                    <ul>
                        <li>National land & property services</li>
                        <li>National stamp duties</li>
                        <li>ASIC & business names</li>
                        <li>Sydney Water</li>
                        <li>ITSA</li>
                        <li>Revs</li>
                        <li>Strata & building reports</li>
                        <li>Settlement bookings & tracking</li>
                    </ul>
                </li>
                <li>Manual Services
                    <ul>
                        <li>Settlements and exchanges</li>
                        <li>LPMA registration</li>
                        <li>Stamping & land tax</li>
                        <li>Court filing</li>
                        <li>Deliveries and collections</li>
                        <li>Banking</li>
                        <li>Process serving</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

<div id="footer">
    <hr>
    <div id="footer-content">
	    Copyright &copy;2017 PEREGRINE CONSULTANT (AUSTRALIA) PTY LTD. All rights reserved. ABN: 16 606 181 104.
    </div>
</div>

</body>
</html>